.date-picker{
	margin-left: 10px !important;
}

.datepicker-container{
	display: flex;
	align-items: center;
	color: var(--purple);
	padding: 30px 20px 20px 20px;
	background-color: var(--white);
}

.MuiInputAdornment-root .MuiButtonBase-root .MuiSvgIcon-root {
	color: var(--purple);
}

.datepicker-container .MuiInputBase-root .MuiOutlinedInput-input {
	height: 0.4375em !important;
}

.date-apply-btn{
	padding-right: 22px !important;
	padding-left: 22px !important;
	border-radius: 4px !important;
	border-color: var(--purple) !important;
	color: var(--purple)!important;
}

.date-apply-btn:hover {
	border-color: var(--white) !important;
	color: var(--white) !important;
	background-color: var(--purple) !important;
}

.disabled-btn:hover {
	background-color: var(--disabled) !important;
	color: var(--white) !important;
	border-color: var(--disabled) !important;
}