.date-picker{
	margin-left: 10px !important;
}

.datepicker-container{
	display: flex;
	align-items: center;
	color: #301134;
	padding: 30px 20px 20px 20px;
	background-color: #ffffff;
}

.MuiInputAdornment-root .MuiButtonBase-root .MuiSvgIcon-root {
	color: #301134;
}

.datepicker-container .MuiInputBase-root .MuiOutlinedInput-input {
	height: 0.4375em !important;
}

.date-apply-btn{
	padding-right: 22px !important;
	padding-left: 22px !important;
	border-radius: 4px !important;
	border-color: #301134 !important;
	color: #301134 !important;
}

.date-apply-btn:hover {
	border-color: #ffffff !important;
	color: #ffffff !important;
	background-color: #301134 !important;
}

.disabled-btn:hover {
	background-color: #C5C5C5 !important;
	color: #ffffff !important;
	border-color: #C5C5C5 !important;
}