
.date-picker{
	margin-left: 10px !important;
}

.datepicker-container{
	display: flex;
	align-items: center;
	color: var(--purple);
	padding: 30px 20px 20px 20px;
	background-color: var(--white);
	position: fixed;
	width: 100%;
}

.MuiInputAdornment-root .MuiButtonBase-root .MuiSvgIcon-root {
	color: var(--purple);
}

.datepicker-container .MuiInputBase-root .MuiOutlinedInput-input {
	height: 0.4375em !important;
}

.select-date-hr{
	height: 1px;
	background-color: #ccc;
}

.pod-data-container{
	padding: 20px;
	margin-bottom: 100px;
	margin-top: 90px
}

.date-range-text{
	color: var(--purple);
	font-size: 16px;
	margin-bottom: 16px;
}

.MuiTableCell-root {
	border-bottom: 2px solid rgba(224, 224, 224, 1) !important;
	padding: 12px !important;
}

.MuiTableCell-head{
	color: var(--purple) !important;
}

.debit-note-text{
	font-weight: 600 !important;
	color: #e57482 !important
}

.date-apply-btn{
	padding-right: 22px !important;
	padding-left: 22px !important;
	border-radius: 4px !important;
	border-color: var(--purple) !important;
	color: var(--purple) !important;
}

.date-apply-btn:hover {
	border-color: var(--white) !important;
	color: var(--white) !important;
	background-color: var(--purple) !important;
}

.disabled-btn:hover {
	background-color: #C5C5C5 !important;
	color: var(--white) !important;
	border-color: #C5C5C5 !important;
}

.back-icon{
	margin-right: 20px;
	cursor: pointer;
}

.disabled-btn {
	background-color: #C5C5C5 !important;
	color: var(--white) !important;
	border-color: #C5C5C5 !important;
}

.btt-container{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.btt-text {
	border: 1px solid var(--purple);
	background-color: var(--white);
	padding: 3px 8px;
	border-radius: 4px;
	font-size: 14px;
	position: fixed;
	bottom: 25px;
	cursor: pointer;
	padding-right: 23px;
}

.btt-icon {
	position: absolute;
	right: -2px;
    bottom: 1px;
}

.no-record-container{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.no-invoice-text{
	margin-top: 30px;
}

.gray-text {
	color: var(--gray) !important;
	font-weight: 400;
}

.invoice-details-column{
	display: flex !important;
	flex-direction: column !important;
}

.horizontal-padd{
	padding-left: 50px !important;
	padding-right: 50px !important;
}

.settlement-amount{
	font-weight: bold;
}

.settlement-utr{
	font-size: 0.8rem;
	color: var(--gray);
}

.hide-utr{
	display: none;
}