
.login-page{
	background-color: #F0F2F5;
	height: 100vh;
	width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}

.login-white-box{
	background-color: var(--white);
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: 70%;
	position: absolute;
	text-align: center;
}

@media only screen and (max-height: 700px) {
	.login-white-box{
		height: 80vh;
	}
}

.head-img-container{
	width: 170px;
	height: 170px;
	border-radius: 50%;
	position: relative;
    top: -10%;
    left: calc(50% - 85px);
	background-color: var(--purple);
	border: 0.5px solid var(--purple);
	box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-head-img{
	position: relative;
	top: 60px;
	width: 120px;
}

.login-header{
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
	font-size: 30px;
	color: var(--purple);
	font-weight: 500;
}

.input-fields{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.login-input{
    margin-bottom: 30px !important;
}

.gray-text{
	color: var(--gray);
}

.login-header-container{
	padding-bottom: 35px;
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.login-sub-header{
	font-size: 0.9rem;
	margin-top: 10px;
}

.login-header-email>span{
	font-weight: 400;
	font-size: 14px;
}

.login-header-email{
	margin-top: 2px;
}

.login-header-email-edit-icon {
	position: relative;
    top: 10px;
    left: 9px;
	font-size: 20px !important;
    border-radius: 50%;
    border: 1px solid #E1E1E1;
    padding: 3px;
    background: #E1E1E1;
    color: var(--white);
}

.otp-input{
	padding: 10px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 6px;
	border: 1px solid #311235;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
}

.otp-input-container {
	justify-content: space-between;
    width: 330px;
	margin-bottom: 30px;
}

.outline-login-btn{
	width: 330px;
	height: 45px;
	text-transform: capitalize !important;
	color: #311235 !important;
	border: 1px solid #311235 !important;
}

.or-separator{
	margin-top: 10px;
	margin-bottom: 10px;
}

.info-idea-img {
	width: 23px;
    position: relative;
    right: 10px;
    top: 10px
}

.auth-type-info-box{
	font-size: 0.9rem;
	background-color: rgba(40, 145, 225, 0.1);
	margin-top: 30px;
	padding: 10px 0 10px 0;
    border-radius: 6px;
    width: 330px;
}

.footerText-otp {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    text-align: center;
	margin-bottom: 10px;
}

.mobile-number {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: rgba(40, 145, 225, 1);
	margin-bottom: 10px;
	cursor: pointer;
}

.login-with-pwd-container{
	position: relative;
	top: -8%;
}

.fp-text{
	color: rgba(40, 145, 225, 1);
	color: rgba(40, 145, 225, 1);
    width: 330px;
    text-align: end;
    text-decoration: underline;
    position: relative;
    bottom: 20px;
    font-size: 15px;
	cursor: pointer;
}

.or-section {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 320px;
	margin-top: 15px;
	margin-bottom: 15px;
}
  
.or-line {
	flex-grow: 1;
	height: 1px;
	background-color: var(--gray);
}
  
.or-text {
	margin: 0 10px;
	font-weight: bold;
	color: var(--gray);
}

.pwd-info-icon{
	position: relative;
	left: 5px;
	top: 2px;
}
  