:root{
	--purple: #301134;
	--gray: #808080;
	--white: #ffffff;
	--disabled: #c5c5c5;
}

body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #E5E5E5 !important;
}

h1, p{
	margin: 0;
}

a{
	text-decoration: none;
	color: inherit;
}
